# Ignore node_modules
node_modules


# Ignore log files and temp files.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/tmp/cache/bootsnap/


/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore bundler config.
/.bundle