

<div  class = "user-idx-div-container">
<span class = "img-box">
<img   class="img-form" src="<%= user.photo %>" alt="User Photo"> 
</span>
<span class = "li_elements">
 <li><%=link_to user.name, user_path(user)%></li>
 <li>Number of posts: <%= user.posts_counter%></li>
</span>
</div>
